In [3]:
print("나의 이름은 : ","연창현")
print("나의 나이는 : ","23")
print("나의 키는 : ", "183")

나의 이름은 :  연창현
나의 나이는 :  23
나의 키는 :  183

In [5]:
print('원의 반지름', 4.0)
print('원의 면적', 3.14 * 4.0 * 4.0)
print('원의 둘레', 2.0 * 3.14 * 4.0)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [6]:
radius = 4.0
print('원의 반지름',radius)
print('원의 면적',3.14 * radius * radius)
print('원의 둘레', 2.0 * 3.14 * radius)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [8]:
name = '홍길동'
age = 27
print('안녕! 나는',name,'이야. 나이는',age,'이야')
name = '홍길순'
age = 23
print('안녕! 나는',name,'이야. 나이는',age,'이야')

안녕! 나는 홍길동 이야. 나이는 27 이야
안녕! 나는 홍길순 이야. 나이는 23 이야

In [4]:
a = int(input("정수를 입력하시오: "))
b = int(input("정수를 입력하시오: "))
print(a,'+',b,'=', a+b)
print(a,'-',b,'=', a-b)
print(a,'/',b,'=', a/b)
print(a,'*',b,'=', a*b)
print(a,'\%',b,'=', a%b)
print(a,'//',b,'=', a//b)
print(a,'**',b,'=', a**b)

5 + 5 = 10
5 - 5 = 0
5 / 5 = 1.0
5 * 5 = 25
5 \% 5 = 0
5 // 5 = 1
5 ** 5 = 3125

In [6]:
a = int(input("정수를 입력하시오: "))
b = int(input("정수를 입력하시오: "))

print('%d + %d = %d' % (a,b,a+b))
print('%d - %d = %d' % (a,b,a-b))
print('%d / %d = %d' % (a,b,a/b))
print('%d * %d = %.1f' % (a,b,a*b))
print('%d %% %d = %.1f' % (a,b,a%b))
print('%d // %d = %.1f' % (a,b,a//b))
print('%d ** %d = %.1f' % (a,b,a**b))

5 + 5 = 10
5 - 5 = 0
5 / 5 = 1
5 * 5 = 25.0
5 % 5 = 0.0
5 // 5 = 1.0
5 ** 5 = 3125.0

In [10]:
my_age = 23
my_height = '183'
my_age = my_age+1
my_height = int(my_height) + 1
print(my_age, my_height)

24 184

In [11]:
d = {'apple':3000, 'banana':4200}
print(type(d))
t = ('홍길동',30,'율도국의 왕')
print(type(t))
s = {10,20,30,20}
print(type(s))
print(s)

<class 'dict'>
<class 'tuple'>
<class 'set'>
{10, 20, 30}

In [15]:
txt6 = "'Let's go"
print(txt6)

txt7 = ('''큰따옴표(")와 작은따옴표(')를 모두 포함판 문장''')
print(txt7)

long_str = """사과는 맛있어
맛있는건 바나나
"""
print(long_str)

'Let's go
큰따옴표(")와 작은따옴표(')를 모두 포함판 문장
사과는 맛있어
맛있는건 바나나

In [16]:
print(0.1+0.1 == 0.2)
print(0.1+0.1+0.1 == 0.3)
print(0.1+0.1+0.1)

True
False
0.30000000000000004

In [22]:
c1 = 2+3j
print(c1.real)
print(c1.imag)


a = 2 + 4j
b = 1 + 2j

c = a + b

print(c)
print(c.real)
print(c.imag)
print(c.conjugate())
print(abs(c))

"""
real == 복소수의 실수부분을 리턴
imag == 복소수의 허수부분을 리턴
conjugate == 복소수의 켤레복소수를 리턴
abs == 복소수의 절대값을 리턴
"""

2.0
3.0
(3+6j)
3.0
6.0
(3-6j)
6.708203932499369

'\nreal == 복소수의 실수부분을 리턴\nimag == 복소수의 허수부분을 리턴\nconjugate == 복소수의 켤레복소수를 리턴\nabs == 복소수의 절대값을 리턴\n'

In [29]:
a = 2+4j
b = 4+3j
print(a+b)
print(a-b)
print(a*b)
print(a/b)

(6+7j)
(-2+1j)
(-4+22j)
(0.8+0.4j)

In [11]:
c1 = 2 + 3j
c2 = c1.conjugate()
print(c2)
abs(c1)

(2-3j)

3.605551275463989

In [1]:
a = 1

print(a | 1)
print(a >> 1)
print(a << 1, a << 2, a << 3)

print( 9 & 10 , 9 & 9 , 9 & 8 , 9 & 7) # and
print(bin(8),bin(9),bin(8),bin(1)) 

print(9|10,9|1) # or
print(bin(11),bin(9))

print( 9 ^ 10 , 9 ^ 8) # XOR

print(~9) # NOT 
print(~-9)

1
0
2 4 8
8 9 8 1
0b1000 0b1001 0b1000 0b1
11 9
0b1011 0b1001
3 1
-10
8

In [31]:
A = [100,200,300,500,900]

print(type(A))

B = {'apple':3000, 'banana':4200}
print(type(B))
print(B)


C = ('홍길동',30,'율도국의 왕')
print(type(C))

<class 'list'>
<class 'dict'>
{'apple': 3000, 'banana': 4200}
<class 'tuple'>