In [1]:
person = {'이름' : '연창현','나이':'23','학과':'컴퓨터공학과'}

person['이름']

'연창현'

In [36]:
fruits_dic = {'apple':3000 , 'banana':2000 , 'orange':1000}

print('apple의 가격은 %d' % fruits_dic['apple'])
print('apple의 가격은 %d' % fruits_dic['banana'])
print(fruits_dic['apple'] + fruits_dic['banana'])

apple의 가격은 3000
apple의 가격은 2000
5000

In [37]:
person = {'이름':'홍길동','나이':26,'몸무게':82}

person['특기'] = '분신술'
person['아버지'] = '홍판서'
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [41]:
person = {'이름':'홍길동','나이':26,'몸무게':82}

person.popitem()
print(person)

{'이름': '홍길동', '나이': 26}

In [43]:
fruits_dic = {'apple':3000 , 'banana':2000 , 'orange':1000}

print(fruits_dic.keys())
print(fruits_dic.values())
fruits_dic.pop('apple')
print(fruits_dic)

dict_keys(['apple', 'banana', 'orange'])
dict_values([3000, 2000, 1000])
{'banana': 2000, 'orange': 1000}

In [44]:
lst = [11,22,33,44,55]

print('pop(0) 이전 :',lst)
lst.pop(0)
print('pop(0) 이후 :',lst)

pop(0) 이전 : [11, 22, 33, 44, 55]
pop(0) 이후 : [22, 33, 44, 55]

In [48]:
dic = {0:11,1:22,2:33,3:44}
print(dic)

for i in dic:
    print(i,end=" ")

{0: 11, 1: 22, 2: 33, 3: 44}
0 1 2 3

In [49]:
dic = {0:11,1:22,2:33,3:44}
print(dic)

print('pop(0) 이전 :', dic.items())
print('pop(0) 이전 dic[1]',dic[1])
dic.pop(0)
print('pop(0) 이후 :', dic.items())
print('pop(0) 이후 dic[1]',dic[1])

{0: 11, 1: 22, 2: 33, 3: 44}
pop(0) 이전 : dict_items([(0, 11), (1, 22), (2, 33), (3, 44)])
pop(0) 이전 dic[1] 22
pop(0) 이후 : dict_items([(1, 22), (2, 33), (3, 44)])
pop(0) 이후 dic[1] 22

In [56]:
fruits_dic = {'apple':3000,'banana':2000,'melon':5000,'orange':4000}
print(fruits_dic.keys())

lst = list(fruits_dic.keys())
value = list(fruits_dic.values())
print(lst,value)

print('fruits_dic 딕셔너리 항목 개수 :',len(fruits_dic))

dict_keys(['apple', 'banana', 'melon', 'orange'])
['apple', 'banana', 'melon', 'orange'] [3000, 2000, 5000, 4000]
fruits_dic 딕셔너리 항목 개수 : 4

In [57]:
if 'apple' in fruits_dic:
    print('apple is in fruits_dic')
else:
    print('apple is no in fruits_dic')

apple is in fruits_dic

In [58]:
if 'mango' in fruits_dic:
    print('mango is in fruits_dic')
else:
    print('mango is no in fruits_dic')

mango is no in fruits_dic

In [59]:
the_day=(1919,3,2)
year,month,day=the_day
print('%d년 %d월 %d일은 삼일절입니다.' %(year,month,day))

1919년 3월 2일은 삼일절입니다.

In [60]:
lst = [10,20,30]
tup = tuple(lst)
c,b,a = lst
print('a =',a)
print('a =',b)
print('a =',c)

a = 30
a = 20
a = 10

In [63]:
t0 = (10,20,30)
t1 = t0 + t0
print(t1)

t = (10,20,30,40,50,10,60)
t.count(10)

(10, 20, 30, 10, 20, 30)

2

In [72]:
t_fruits = ('apple','orange','water melon')
print('변경전 :',t_fruits)
f_list = list(t_fruits)
f_list[1] = 'kiwi'
t_fruits = tuple(f_list)
print('변경후 :',t_fruits)

변경전 : ('apple', 'orange', 'water melon')
변경후 : ('apple', 'kiwi', 'water melon')

In [77]:
dic = {'이름':'연창현','학번':23076006}
person = tuple(dic.values())
lst = list(person)
lst[1] = 23233233
person = tuple(lst)
print('변경 후 :',person)

변경 후 : ('연창현', 23233233)

In [81]:
def area_circum(radius):
    area = 3.14 * radius ** 2
    circum = 2 * 3.14 * radius
    return area, circum

r = 4 
a , c = area_circum(r)
print('반지름 {}인 원의 면적과 둘레: {} , {}'.format(r,a,c))

반지름 4인 원의 면적과 둘레: 50.24 , 25.12

In [95]:
def square(x,y):
    return x**2, y**2
x = 10
y = 20 
x_sq, y_sq = square(x,y)

print('{} 제곱 = {} , {}의 제곱 = {}  입니다.'.format(x,x_sq,y,y_sq))

10 제곱 = 100 , 20의 제곱 = 400  입니다.

In [96]:
print((10,20,30) + (40,50,60))

(10, 20, 30, 40, 50, 60)

In [103]:
days_list = ['mon','tue','wed','thu','fri','sat','sun']

lst = set(days_list)

print(lst)

{'sun', 'fri', 'thu', 'mon', 'sat', 'tue', 'wed'}

In [104]:
lst = {'apple','mango','banana'}
s1 = set(lst)
print(type(s1))
print('lst = ',lst)
print('s1 = ',s1)

<class 'set'>
lst =  {'apple', 'banana', 'mango'}
s1 =  {'apple', 'banana', 'mango'}

In [106]:
greet = 'good afternoon'

s2 = set(greet)
print('greet= ' ,s2)

greet=  {'o', 'd', 'f', 'g', 't', 'a', 'e', 'r', 'n', ' '}

In [116]:
s1 ={1,2,3,4,5,6,7,8,9,10}
s2 = {10,5,7,14,15,16,17,18,19,20}
#s1.union(s2)

s1.intersection(s2)

s2.issubset(s1)

False

In [119]:
s1 = {10,20,30,40}
s2= {30,40,50,60}

print (s1|s2)
print(s1&s2)
print(s1 - s2)
print(s1 ^ s2)

{40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{10, 50, 20, 60}

In [120]:
def product_set(set1,set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i,j)}
    return res

A = {1,2}
B = {'A','B','C'}
AxB = product_set(A,B)
BxA = product_set(B,A)
AxA = product_set(A,A)
BxB = product_set(B,B)
print('AxB',AxB)
print('BxA',BxA)
print('AxA',AxA)
print('BxB',BxB)

AxB {(1, 'A'), (2, 'C'), (2, 'A'), (2, 'B'), (1, 'C'), (1, 'B')}
BxA {('A', 2), ('B', 1), ('B', 2), ('C', 1), ('C', 2), ('A', 1)}
AxA {(1, 1), (1, 2), (2, 1), (2, 2)}
BxB {('C', 'C'), ('C', 'B'), ('B', 'C'), ('B', 'A'), ('B', 'B'), ('C', 'A'), ('A', 'C'), ('A', 'A'), ('A', 'B')}

In [123]:
def product_set(set1,set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i,j)}
    return res

def exp(input_set,exponent):
    res = input_set
    for _ in range(exponent-1):
        res = product_set(res,input_set)
        
cases = [1,2,3,4,5,6]
case_2time = product_set(cases,cases)
print(case_2time)

for tuple_element in case_2time:
    print(tuple_element)

{(3, 4), (4, 3), (3, 1), (5, 4), (4, 6), (5, 1), (2, 2), (1, 6), (2, 5), (1, 3), (6, 2), (6, 5), (4, 2), (4, 5), (3, 3), (5, 6), (3, 6), (5, 3), (2, 4), (1, 2), (2, 1), (1, 5), (6, 1), (6, 4), (3, 2), (4, 1), (3, 5), (5, 2), (4, 4), (5, 5), (1, 1), (1, 4), (2, 3), (2, 6), (6, 6), (6, 3)}
(3, 4)
(4, 3)
(3, 1)
(5, 4)
(4, 6)
(5, 1)
(2, 2)
(1, 6)
(2, 5)
(1, 3)
(6, 2)
(6, 5)
(4, 2)
(4, 5)
(3, 3)
(5, 6)
(3, 6)
(5, 3)
(2, 4)
(1, 2)
(2, 1)
(1, 5)
(6, 1)
(6, 4)
(3, 2)
(4, 1)
(3, 5)
(5, 2)
(4, 4)
(5, 5)
(1, 1)
(1, 4)
(2, 3)
(2, 6)
(6, 6)
(6, 3)

TypeError: count() takes at least 1 argument (0 given)